*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 
body{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex{
   display: flex;
}

.img{
   max-width: 100%;
}

.container{
   margin: 0 30px;
}

 /* INIZIO Header */
.start-menu{
   justify-content: center;
   align-items: center;
   height: 150px;
   background-color: rgb(49, 97, 224)
}

.start-menu .container{
   width: 1400px;
   height: 30px;
   justify-content: center;
   align-items: center;
   justify-content: space-between;
 }
 
.logo, .login{
   align-items: center;
 }
 
.logo{
   width: 200px;
}

nav ul{
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   height: 30px;
 }
 
.start-menu .container li a{
   text-decoration: none;
}

.container nav ul li{
   display: flex;
   flex-wrap: wrap;
   font-size: 18px;
   font-weight: 700;
   list-style: none;
   display: inline-block;
   padding: 0 30px;
 }
 
.container .login{
   width: 100px;
   padding: 15px;
   font-size: 16px;
   justify-content: center;
   align-items: center;
   background-color: white;
 }

.jumbotron{
   justify-content: center;
   align-items: center;
   height: 600px;
   background-image: url(../img/jumbo.png);
   background-size: cover;
}
 
.intro{
   width: 900px;
   height: 500px;
   text-align: center;
}

h1, .p-intro, .apri-discord, .container li a, .tecnologia .scarica-per-mac, 
.menu-voci .lista{
   color: white;
}

h1{
   font-size: 65px;
   font-weight: 650;
   margin-top: 50px;
   margin-bottom: 50px;
}

.p-intro{
   font-size: 21px;
   font-weight: 600;
}

.btn-jumbo{
   justify-content: center;
}

.btn-jumbo .scarica-per-mac{
   background-color: white;
}

.btn-jumbo .apri-discord{
   background-color: rgb(39, 39, 39);
   margin-left: 30px;
}

.btn-jumbo .apri-discord, .btn-jumbo .scarica-per-mac{
   font-size: 18px;
   margin-top: 40px;
   padding: 18px 30px 20px 30px;
}
 /* FINE Header */







 /* INIZIO Main */

.h2-main{
   font-size: 45px;
}

.p-main{
   font-size: 21px;
   font-weight: 600;
   line-height: 160%;
}


/* INIZIO Sezione Luogo */
.luogo{
   justify-content: center;
   align-items: center;
   height: 900px;
 }
 
 .luogo .container{
   justify-content: center;
   width: 1400px;
   height: 800px;
 }
 
 .img-luogo{
   width: 60%;
 }
 
 .text-luogo{
   width: 40%;
 }

 .text-luogo h2{
   margin: 160px 0 50px 150px;
 }

 .text-luogo p{
   margin-left: 150px;
 }
 /* FINE Sezione Luogo */
 

 /* INIZIO Sezione Trovarsi */
 .trovarsi{
   background-color: rgb(241, 241, 241);
   justify-content: center;
   align-items: center;
   height: 900px;
 }
 
 .trovarsi .container{
   justify-content: center;
   flex-direction: row-reverse;
   width: 1400px;
   height: 800px;
 }
 
 .img-trovarsi{
   width: 60%;
 }
 
 .text-trovarsi{
   width: 40%;
 }

 .text-trovarsi h2{
   margin: 170px 120px 50px 0px;
 }

 .text-trovarsi p{
   margin-right: 150px;
 }
 /* FINE Sezione Trovarsi */
 

 /* INIZIO Sezione Fandom */
 .fandom{
   justify-content: center;
   align-items: center;
   height: 900px;
 }
 
 .fandom .container{
   justify-content: center;
   width: 1400px;
   height: 800px;
 }
 
 .img-fandom{
   width: 60%;
 }
 
 .text-fandom{
   width: 40%;
 }

 .text-fandom h2{
   margin: 150px 0 50px 150px;
 }

 .text-fandom p{
   margin-left: 180px;
 }
 /* FINE Sezione Fandom */
 

 /* INIZIO Sezione Tecnologia */
 .tecnologia{
   justify-content: center;
   align-items: center;
   background-color: rgb(241, 241, 241);
   width: 100%;
   height: 1500px;
 }
 
 .tecnologia .container{
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 1400px;
   height: 800px;
 }

.img-tecnologia{
   width: 100%;
}

.tecnologia h2{
   margin-bottom: 50px;
}

.tecnologia p{
   text-align: center;
   margin: 0 150px 50px 150px;
}

h4{
   font-size: 27px;
   text-align: center;
   padding: 40px;
   background-image: url(../img/stars.svg);
   background-repeat: no-repeat;
}

.container .scarica-per-mac{
   font-size: 18px;
   background-color: rgb(142, 161, 225);
   padding: 20px 30px;
}
 /* FINE Sezione Tecnologia */


/* INIZIO Hover dei Pulsanti + Setup in comune*/
.start-menu .btn:hover, .jumbotron .scarica-per-mac:hover{
   background-color: rgb(221, 221, 221);
}

.apri-discord:hover{
   background-color: rgb(56, 56, 56);
}

.btn-viola:hover{
   background-color: rgb(125, 141, 196);
}

.btn{
   border-radius: 30px;
   border: none;
   font-weight: 700;
}

.fa-solid{
   margin-right: 10px;
}
/* FINE Hover dei Pulsanti + Setup in comune*/


 /* FINE Main */








 /* INIZIO Footer */

footer{
   background-color: rgb(35, 39, 42);
}

/* INIZIO Sezione Menu Voci */
.menu-voci{
   justify-content: center;
   align-items: center;
   height: 600px;
 }
 
 .menu-voci .container{
   width: 1400px;
   height: 500px;
 }
 
 ul{
   justify-content: space-between;
 }
 
 li{
   list-style: none;
 }
 
 .menu-social{
   width: 400px;
   height: 500px;
 }

 .social{
   color: white;
   font-size: 25px;
   margin-top: 20px;
 }
 
.social .fa-brands{
   margin-right: 25px;
}

 .titolo-lista{
   width: 250px;
   height: 500px;
 }

 h3, h5{
   color: rgb(113, 132, 194);
}

 h3{
   font-size: 35px;
   margin: 50px 140px 30px 0;
 }

 .img-ita{
   width: 30px;
   vertical-align: middle;
 }

 .select-language{
   color: white;
   font-size: 17px;
   vertical-align: middle;
 }

h5{
   font-size: 20px;
   margin: 55px 0 7px 0;
}

.lista{
   line-height: 240%;
   font-weight: 600;
}
/* FINE Sezione Menu Voci */
 

/* INIZIO Sezione Menu Finale*/
 
.menu-finale{
   justify-content: center;
   align-items: center;
   height: 100px;
 }
 
.menu-finale .container{
   justify-content: space-between;
   align-items: center;
   width: 1400px;
   height: 70px;
 }
 
.row{
   border: 1px solid rgb(113, 132, 194);
   margin: 0 160px;
}

.logo-finale{
   width: 150px;
 }

.btn-registrati{
   color: white;
   padding: 10px 15px;
   background-color: rgb(142, 161, 225);
 }

.lista a{
   color: white;
   text-decoration: none; 
}
 /* FINE Sezione Menu Finale */
 
 /* FINE Footer */